@font-face {
  font-family: "Lato";
  font-weight: 100;
  src: local("Lato"), url(./fonts/Lato/Lato-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: italic;
  src: local("Lato"), url(./fonts/Lato/Lato-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: local("Lato"), url(./fonts/Lato/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: local("Lato"), url(./fonts/Lato/Lato-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  src: local("Lato"), url(./fonts/Lato/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato"), url(./fonts/Lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  src: local("Lato"), url(./fonts/Lato/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic;
  src: local("Lato"), url(./fonts/Lato/Lato-BlackItalic.ttf) format("truetype");
}

* {
  margin: 0;
  font-family: "Lato", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
